{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:run         {:main-opts ["-m" "jdk9-joint-namespaces.app"]}
           :+reflection {:extra-deps {com.widdindustries/cljc.java-time {:local/root "../../lib/reflection"}}}
           :+try-catch  {:extra-deps {com.widdindustries/cljc.java-time {:local/root "../../lib/try-catch"}}}}}
